In [13]:

import sys
import numpy as np
import pandas as pd

sys.path.insert(0, '..')
from scripts import sanity_check

### load data

In [14]:
outpatient_data = pd.read_csv('../../data/Train_Outpatientdata-1542865627584.csv')
outpatient_data.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947

In [15]:
checker = sanity_check.SanityCheck(outpatient_data)

***measurement levels***

- numerical

In [16]:
num = checker.measurement_level()['numerical']

In [17]:
outpatient_data[num].head().T

                           0     1     2     3      4
InscClaimAmtReimbursed  30.0  80.0  10.0  40.0  200.0
ClmProcedureCode_1       NaN   NaN   NaN   NaN    NaN
ClmProcedureCode_2       NaN   NaN   NaN   NaN    NaN
ClmProcedureCode_3       NaN   NaN   NaN   NaN    NaN
ClmProcedureCode_4       NaN   NaN   NaN   NaN    NaN
ClmProcedureCode_5       NaN   NaN   NaN   NaN    NaN
ClmProcedureCode_6       NaN   NaN   NaN   NaN    NaN
DeductibleAmtPaid        0.0   0.0   0.0   0.0    0.0

- categorical

In [18]:
cat = checker.measurement_level()['categorical']

In [19]:
outpatient_data[cat].head().T

,0,1,2,3,4
BeneID,BENE11002,BENE11003,BENE11003,BENE11004,BENE11004
ClaimID,CLM624349,CLM189947,CLM438021,CLM121801,CLM150998
ClaimStartDt,2009-10-11,2009-02-12,2009-06-27,2009-01-06,2009-01-22
ClaimEndDt,2009-10-11,2009-02-12,2009-06-27,2009-01-06,2009-01-22
Provider,PRV56011,PRV57610,PRV57595,PRV56011,PRV56011
AttendingPhysician,PHY326117,PHY362868,PHY328821,PHY334319,PHY403831
OperatingPhysician,NaN,NaN,NaN,NaN,NaN
OtherPhysician,NaN,NaN,NaN,NaN,NaN
ClmDiagnosisCode_1,78943,6115,2723,71988,82382
ClmDiagnosisCode_2,V5866,NaN,NaN,NaN,30000
ClmDiagnosisCode_3,V1272,NaN,NaN,NaN,72887
ClmDiagnosisCode_4,NaN,NaN,NaN,NaN,4280
ClmDiagnosisCode_5,NaN,NaN,NaN,NaN,7197
ClmDiagnosisCode_6,NaN,NaN,NaN,NaN,V4577
ClmDiagnosisCode_7,NaN,NaN,NaN,NaN,NaN
ClmDiagnosisCode_8,NaN,NaN,NaN,NaN,NaN
ClmDiagnosisCode_9,NaN,NaN,NaN,NaN,NaN
ClmDiagnosisCode_10,NaN,NaN,NaN,NaN,NaN
ClmAdmitDiagnosisCode,56409,79380,NaN,NaN,71947

In [20]:
checker.date_columns(columns=['ClaimStartDt', 'ClaimEndDt'],
                     format='%Y-%m-%d')