In [1]:
import sys
import numpy as np
import pandas as pd
import missingno as mn
import scipy.stats as ss
import seaborn as sns

from matplotlib import pyplot as plt

sys.path.insert(0, '..')
from scripts import sanity_check

### load data

In [2]:
inpatient_data = pd.read_csv('../../data/Train_Inpatientdata-1542865627584.csv')
inpatient_data.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [3]:
checker = sanity_check.SanityCheck(inpatient_data)

***measurement levels***

- numerical

In [4]:
num = checker.measurement_level()['numerical']

In [5]:
inpatient_data[num].head().T

                              0       1       2       3        4
InscClaimAmtReimbursed  26000.0  5000.0  5000.0  5000.0  10000.0
DeductibleAmtPaid        1068.0  1068.0  1068.0  1068.0   1068.0
ClmProcedureCode_1          NaN  7092.0     NaN   331.0   3893.0
ClmProcedureCode_2          NaN     NaN     NaN     NaN      NaN
ClmProcedureCode_3          NaN     NaN     NaN     NaN      NaN
ClmProcedureCode_4          NaN     NaN     NaN     NaN      NaN
ClmProcedureCode_5          NaN     NaN     NaN     NaN      NaN
ClmProcedureCode_6          NaN     NaN     NaN     NaN      NaN

- categorical

In [6]:
cat = checker.measurement_level()['categorical']

In [7]:
inpatient_data[cat].head().T

,0,1,2,3,4
BeneID,BENE11001,BENE11001,BENE11001,BENE11011,BENE11014
ClaimID,CLM46614,CLM66048,CLM68358,CLM38412,CLM63689
ClaimStartDt,2009-04-12,2009-08-31,2009-09-17,2009-02-14,2009-08-13
ClaimEndDt,2009-04-18,2009-09-02,2009-09-20,2009-02-22,2009-08-30
Provider,PRV55912,PRV55907,PRV56046,PRV52405,PRV56614
AttendingPhysician,PHY390922,PHY318495,PHY372395,PHY369659,PHY379376
OperatingPhysician,NaN,PHY318495,NaN,PHY392961,PHY398258
OtherPhysician,NaN,NaN,PHY324689,PHY349768,NaN
AdmissionDt,2009-04-12,2009-08-31,2009-09-17,2009-02-14,2009-08-13
ClmAdmitDiagnosisCode,7866,6186,29590,431,78321
DischargeDt,2009-04-18,2009-09-02,2009-09-20,2009-02-22,2009-08-30
DiagnosisGroupCode,201,750,883,067,975
ClmDiagnosisCode_1,1970,6186,29623,43491,042
ClmDiagnosisCode_2,4019,2948,30390,2762,3051
ClmDiagnosisCode_3,5853,56400,71690,7843,34400
ClmDiagnosisCode_4,7843,NaN,34590,32723,5856
ClmDiagnosisCode_5,2768,NaN,V1581,V1041,42732
ClmDiagnosisCode_6,71590,NaN,32723,4254,486
ClmDiagnosisCode_7,2724,NaN,NaN,25062,5119
ClmDiagnosisCode_8,19889,NaN,NaN,40390,29620
ClmDiagnosisCode_9,5849,NaN,NaN,4019,20300
ClmDiagnosisCode_10,NaN,NaN,NaN,NaN,NaN